@screen-max-xs: 576px;
@screen-max-sm: 768px;
@screen-max-md: 992px;
@screen-max-lg: 1200px;

@color-bg-grey: #f7f7f7;
@color-primary-blue: #5988d8;
@color-grey-2: #cbcbcb;
@color-green-success: #67b979;
@color-red-error: #da3546;
