<div class="form-field-container">

  <label class="form-field-label">{{labelText}}</label>
  <div class="form-field-input-container">
    <div class="form-field-error-icon" >
      <app-icon name="exclamation"></app-icon>
    </div>
    <ng-content></ng-content>
  </div>
  <span class="error-text"><ng-container *ngIf="displayError">{{errorText}}</ng-container></span>
</div>
