@import "../../theme/variables.less";

.modal-container {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;

  &.is-open {
    display: block;
  }
}

.overlay {
  top: 0;
  left: 0;
  background-color: lightgrey;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  z-index: 1001;

  @media (max-width: @screen-max-sm) {
    width: 70%;
  }

  @media (max-width: @screen-max-xs) {
    width: ~"calc(100% - 40px)";
  }
}

.modal {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  min-width: 300px;
  min-height: 200px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px;
  padding: 5px;
  cursor: pointer;
  fill: white;
  background: none;
  border: none;

  &.is-dark {
    fill: @color-primary-blue;
  }
}
