<div [ngClass]="{ 'is-open': isOpen }" class="modal-container">
  <div class="overlay" (click)="onOverlayClick()"></div>
  <div class="wrapper">
    <button *ngIf="isCloseBtnVisible" [ngClass]="{'is-dark': isCloseBtnDark}" class="close-btn" (click)="onCloseBtnClick()"><app-icon name="close"></app-icon></button>
    <div class="modal">
      <ng-template appModalHost></ng-template>
    </div>
  </div>
</div>
