<div class="container">
    <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchCase="states.DEFAULT">
            <div class="image-container">
                <app-icon name="account"></app-icon>
            </div>
            <div class="form-container">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="login-form">
                    <app-form-field labelText="E-mail" [displayError]="loginForm.get('username').dirty" [errorText]="loginForm.get('username').getError('required') && 'This field is required' || loginForm.get('username').getError('noMatch') && 'Not valid E-mail address'">
                        <input appInput formControlName="username">
                    </app-form-field>
                    <app-form-field labelText="Password" [displayError]="loginForm.get('password').dirty" [errorText]="loginForm.get('password').getError('required') && 'This field is required' || loginForm.get('password').getError('noMatch') && 'Wrong password'">
                        <input appInput formControlName="password">
                    </app-form-field>
                    
                    <button appButton type="submit">Login</button>
                </form>
                <div class="links">
                    <a (click)="openRestorePwd()">Forgot Password?</a>
                    <span class="dot"></span>
                    <a (click)="openUsrReg()">User registration</a>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="states.SUCCESS">
            <div class="status-display is-success">
                <app-icon name="tick"></app-icon>
                <div class="message">SUCCESS!</div>
            </div>
        </ng-container>
    </ng-container>
</div>

