@import "../../theme/variables.less";

.container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 350px;
  min-width: 700px;

  @media (max-width: @screen-max-sm) {
    flex-flow: column nowrap;
    min-width: 0;
  }
}

.image-container,
.form-container {
  flex-basis: 0;
  flex-grow: 1;
}

.image-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @color-primary-blue;

  .app-icon {
    font-size: 200px;
    fill: white;

    @media (max-width: @screen-max-sm) {
      font-size: 150px;
    }
  }
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 40px 20px 20px;

  .app-form-field {
    margin-bottom: 15px;
  }

  .app-button {
    width: 100%;
  }
}

.links {
  font-size: 12px;
  padding: 10px;
  margin: 10px auto 0;
  cursor: pointer;
  text-decoration: underline;

  .dot {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    background-color: @color-primary-blue;
    border-radius: 50%;
  }
}

.status-display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  .app-icon {
    font-size: 160px;
  }

  .message {
    color: white;
    margin-top: 20px;
  }

  &.is-success {
    background-color: @color-green-success;
  }
}
