@import "../../theme/variables.less";

.app-button {
  margin: 0 10px;

  &.is-success {
    background-color: @color-green-success;
  }

  &.is-failure {
    background-color: @color-red-error;
  }

  .app-icon {
    font-size: 1rem;
    fill: white;
  }
}
