<button class="app-button is-small is-success">
    <app-icon name="like"></app-icon>
    {{counterData.successCount}}
</button>
<button class="app-button is-small is-failure">
    <app-icon name="dislike"></app-icon>
    {{counterData.failureCount}}
</button>
