/* You can add global styles to this file, and also import other style files */

@import "./app/theme/variables.less";

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: @color-primary-blue;
  border-radius: 5px;
  height: 40px;

  .app-icon {
    font-size: 20px;
    margin-right: 6px;
  }

  &.is-small {
    height: 30px;
  }
}

.app-input {
  border: 1px solid @color-bg-grey;
  border-radius: 5px;
  height: 40px;
  line-height: 30px;
  width: 100%;
  padding: 0 10px;
  background-color: @color-bg-grey;
  outline: none;
  box-sizing: border-box;

  &:hover {
    border: 1px solid @color-grey-2;
  }

  &:focus {
    border: 1px solid @color-grey-2;
  }
}
